# Dependencies
/node_modules
/jspm_packages/
.npm

# Optional npm cache files
.npmrc
.gitignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.log
log/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for placing built projects (can be configured)
/dist
/build
/out

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*

# TypeScript files
*.tsbuildinfo
/cache

# Jest coverage
/coverage

# Optional editor or OS files
.DS_Store
Thumbs.db
.idea
.vscode
*.sublime-project
*.sublime-workspace